Flask==3.1.0
SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.1.1
WTForms==3.0.1
pandas==2.2.3
reportlab==4.4.0
python-dotenv==1.0.0
werkzeug==3.0.1
openpyxl==3.1.2
email-validator==2.1.0.post1
zipfile36==0.1.3
